<mat-card>
  <mat-card-header>
    <mat-card-title>{{ hero.superhero }} xx</mat-card-title>
    <mat-card-subtitle>{{ hero.alter_ego }}xx</mat-card-subtitle>
  </mat-card-header>

  <!-- TODO: IMAGEN -->
  <img mat-card-image [src]="hero | heroImage " [alt]="hero.superhero">
  <mat-card-content class="mt-2">
    <h4>{{ hero.publisher }}xx</h4>
    <p>
      <strong>Primera Aparición</strong> xx{{ hero.first_appearance }}
      <br>
      <mat-chip-listbox >
        <mat-chip *ngFor="let name of hero.characters.split(',') |slice:0:3">
          {{ name }}xx
        </mat-chip>
      </mat-chip-listbox>
    </p>


  </mat-card-content >
  <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button
        mat-raiser
        color="warn"
        [routerLink]="['/heroes/edit', hero.id]">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
      <span class="spacer"></span>
      <button mat-button
      mat-raiser

      [routerLink]="['/heroes', hero.id]">
      Más
      <mat-icon>more_horiz</mat-icon>

    </button>

    </mat-card-actions>


</mat-card>
