<div class="flex flex-column">

  <span class="text-lg mb-4">Login</span>

  <mat-form-field>
    <mat-label>Usuario <mat-icon>person_check</mat-icon></mat-label>
    <input type="text" matInput placeholder="Nickname"  >

  </mat-form-field>

  <mat-form-field>
    <mat-label>Contraseña  <mat-icon>password</mat-icon></mat-label>
    <input type="password" matInput placeholder="Password">
  </mat-form-field>

  <button mat-button mat-flat-button color="primary"
    (click)="onLogin()"
    >
    Ingresar
    <mat-icon>login</mat-icon>
  </button>
  <div class="flex justify-content-end mt5">
    <a routerLink="/auth/new-account">¿Olvidaste tu contraseña?</a>
    <hr>
    <a routerLink="/auth/new-account">¿No tienes cuenta?</a>
  </div>

</div>
